## TWITCH
twitch.client.id=<id>
twitch.client.secret=<secret>
# OAuth Token for IRC USer (You can get yours here: http://twitchapps.com/tmi/)
twitch.credentials.irc=oauth:<token>
twitch.credentials.access.token=<token>

## DISCORD
discord.credentials.access.token=<token>

## GOOGLE
google.credentials.api.key=<key>
google.credentials.client.id=<id>
google.credentials.client.secret=<secret>
